
.Quienes_Somos {
    margin: 10px 20px;
    padding: 8vw;
    position: relative;
    width: 100rw;
    height: 100rh;
    display: grid;
    grid-area: repeat(2, 1fr);
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
